---
import { BLOG_SITE_URL } from '../../config';

export async function getStaticPaths() {
  return [
    "2020_07_02_23_53_01",
    "2020_07_05_00_52_08",
    "2020_07_06_23_44_01",
    "2020_08_08_01_51_25",
    "angular-froala-editor",
    "angular-table-of-contents",
    "cloud-functions-save-tweet",
    "cloud-functions-youtube-api",
    "github-flow-and-command",
    "website-update-astro-v3"
  ].map((slug) => ({
    params: { slug },
  }));
}

const newURL = new URL(Astro.url.pathname, BLOG_SITE_URL).toString();
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <p><a href={newURL}>{newURL}</a>に移動しました。</p>
  </body>
</html>

<script>
  import { BLOG_SITE_URL } from "../../config";
  const newURL = new URL(Astro.url.pathname, BLOG_SITE_URL).toString();
  window.location.href = newURL;
</script>
