@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Source Sans', sans-serif;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-font);
}

a {
  text-decoration: none;
}

.container {
  max-width: 1000px;
  padding: 20px 16px;
  margin: 60px auto;
}

.heading {
  padding: 24px;
  text-align: center;
  &__title {
    position: relative;
    font-size: 32px;
    letter-spacing: 1.2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0px;
      width: 60px;
      height: 5px;
      transform: translateX(-50%);
      background-color: #fbbf5d;
      border-radius: 2px;
    }
  }
  &__text {
    letter-spacing: 1.2px;
  }
}

.fade {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
