---
import { BLOG_SITE_URL } from "../config";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <p><a href={BLOG_SITE_URL}>{BLOG_SITE_URL}</a>に移動しました。</p>
  </body>
</html>

<script>
  import { BLOG_SITE_URL } from "../config";
  window.location.href = BLOG_SITE_URL;
</script>