---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import ProfileSection from "../components/ProfileSection.astro";
import TopHeader from "../components/TopHeader.astro";
import ScrollGuide from "../components/ScrollGuide.astro";
import ProductsSection from "../components/ProductsSection.astro";
import PostsSection from "../components/PostsSection.astro";
import MusicsSection from "../components/MusicsSection.astro";
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <ProfileSection />
    <TopHeader />
    <ScrollGuide />
    <ProductsSection />
    <PostsSection />
    <MusicsSection />
    <Footer />
  </body>
</html>
