---
import AstroLink from "./AstroLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="blog-header">
  <div class="blog-header__menu">
    <AstroLink href="/blog">
      <h2 class="site-title">
        {SITE_TITLE}/blog
      </h2>
    </AstroLink>
    <nav class="nav">
      <AstroLink href="/" class="nav__item">Portfolio</AstroLink>
      <AstroLink href="/blog" class="nav__item">Blog</AstroLink>
    </nav>
  </div>
</header>

<style lang="scss">
  @use "../styles/mixins.scss" as mx;

  .blog-header {
    margin: 0;
    padding: 8px 20px;
    background-color: #424242;

    &__menu {
      margin: 0 auto;
      max-width: 900px;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .site-title {
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      padding: 12px;
      margin: 0;

      @include mx.sp {
        visibility: hidden;
        font-size: 18px;
      }
    }
    .nav {
      margin-left: auto;

      @include mx.sp {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .nav__item + .nav__item {
        margin-left: 16px;

        @include mx.sp {
          margin: 0px;
        }
      }
      &__item {
        color: #fff;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;

        @include mx.sp {
          padding: 12px 24px;
        }
      }
    }
  }
</style>
