---
import AstroLink from './AstroLink.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<header class="blog-header">
  <div class="blog-header__content">
    <AstroLink href="/blog/">
      <h2 class="site-title">
        {title}
      </h2>
    </AstroLink>
    <p class="site-description">{description}</p>
  </div>
</header>

<style lang="scss">
  @use "../styles/mixins.scss" as mx;

  .blog-header {
    margin: 0;
    padding: 8px 20px;
    background-color: #424242;
    width: 100%;

    &__content {
      margin: 0 auto;
      max-width: 900px;
      width: 100%;
    }

    .site-title {
      padding: 8px 0;
      margin: 0;

      color: #fff;
      font-size: 20px;
      font-weight: bold;
      text-align: center;

      @include mx.sp {
        font-size: 18px;
      }
    }
    .site-description {
      padding: 8px 0;
      margin: 0;

      color: #fff;
      font-size: 14px;
      text-align: center;

      @include mx.sp {
        font-size: 12px;
      }
    }
  }
</style>
