---
import AstroLink from "./AstroLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <AstroLink href="/">Home</AstroLink>
    <AstroLink href="/blog">Blog</AstroLink>
  </nav>
</header>

<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
