<footer class="footer">
  <p class="footer__copyright">
    &copy; 2023 komura-c all rights reserved.
  </p>
</footer>
<style lang="scss">
  .footer {
    background-color: inherit;
    padding: 40px 0;
    text-align: center;
    &__copyright {
      font-size: 16px;
      font-weight: bold;
      color: #424242;
    }
  }
</style>
