---
import AstroLink from "./AstroLink.astro";

const postList = [
  {
    title: "AngularのメタフレームワークAnalogを試す",
    URL: "https://zenn.dev/komura_c/articles/455b4a79c6d534",
    updatedAt: "2022-12-12",
  },
  {
    title: "オーディオ波形動画を生成するWebぺージの作り方",
    URL: "https://tech-blog.voicy.jp/entry/2022/12/11/235929",
    updatedAt: "2022-12-11",
  },
  {
    title: "Angular 無限スクロール実装 3選",
    URL: "https://tech-blog.voicy.jp/entry/2022/11/24/103519",
    updatedAt: "2022-11-24",
  },
  {
    title: "ffmpeg.wasmをブラウザ上で動かしてみた",
    URL: "https://tech-blog.voicy.jp/entry/2022/07/19/101954",
    updatedAt: "2022-07-19",
  },
];
---

<div id="posts">
  <div class="container">
    <div class="heading">
      <h2 class="heading__title">Blog</h2>
    </div>
    <div class="posts">
      {
        postList.map((post) => (
          <a
            href={post.URL}
            target="_blank"
            rel="noopener noreferrer"
            class="post-card"
          >
            <h3 class="post-card__title">{post.title}</h3>
            <p class="post-card__date">{post.updatedAt}</p>
          </a>
        ))
      }
    </div>
    <div class="more">
      <AstroLink href="/blog/" class="more__link">ブログ一覧へ</AstroLink>
    </div>
  </div>
</div>

<style lang="scss">
  @import "../styles/mixins.scss";

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .post-card {
    color: #333;
    background-color: #fff;
    box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    width: 48%;
    margin-bottom: 24px;
    padding: 24px;
    transition: 0.3s;
    @include tab {
      width: 100%;
    }
    &:hover {
      box-shadow: 0 18px 45px 0 rgba(0, 0, 0, 0.24);
    }
    &__title {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 1.2px;
      margin-bottom: 12px;
    }
    &__date {
      font-size: 14px;
      letter-spacing: 1.2px;
    }
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    &__link {
      color: #333;
      border-radius: 4px;
      border: 1px solid #757575;
      padding: 12px 24px;
      transition: 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
</style>
