---
const navList = [
  {
    name: "Top",
    anchor: "top",
  },
  {
    name: "Product",
    anchor: "products",
  },
  {
    name: "Blog",
    anchor: "posts",
  },
  {
    name: "Music",
    anchor: "musics",
  },
];
---

<header class="header">
  <div class="nav-bar fade">
    <ul class="nav-list">
      {
        navList.map((navItem) => (
          <li class="nav-list__item">
            <a href={"#" + navItem.anchor} class="nav-list__link">
              {navItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</header>

<script>
  import { scrollTo } from "../lib/ScrollTo";

  const anchorElement = document.querySelectorAll(
    "li.nav-list__item a.nav-list__link"
  );
  for (let i = 0; i < anchorElement.length; i++) {
    anchorElement[i].addEventListener("click", (event) => {
      event.preventDefault();
      scrollTo(anchorElement[i]);
    });
  }
</script>

<style lang="scss">
  .header {
    position: sticky;
    top: 0;
    z-index: 3;
  }

  .nav-bar {
    max-width: 800px;
    background-color: #fff;
    margin: 24px auto;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
    border-radius: 40px;
  }

  .nav-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    &__link {
      color: #333;
      text-decoration: none;
      transition-duration: 0.3s;
      &:hover {
        opacity: 0.5;
      }
    }
  }
</style>
