---
import BaseHead from "../components/BaseHead.astro";
import BlogHeader from "../components/BlogHeader.astro";
import Footer from "../components/Footer.astro";
import "../styles/blog.scss";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage = "" },
} = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
    <style lang="scss">
      .article {
        margin: 12px auto;
        max-width: 910px;
        padding: 16px;

        .title {
          font-size: 28px;
        }

        .pub-date {
          font-size: 14px;
        }

        .updated-date {
          font-size: 14px;

          &::before {
            content: "/";
          }
        }

        hr {
          border-top: 1px solid #ddd;
          margin: 16px 0;
        }
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <main>
      <article class="article">
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="title">{title}</h1>
        {
          pubDate && (
            <span class="pub-date">
              <time>
                {new Date(pubDate).toLocaleDateString("ja-jp", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              作成
            </span>
          )
        }
        {
          updatedDate && (
            <span class="updated-date">
              <time>
                {new Date(updatedDate).toLocaleDateString("ja-jp", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
              更新
            </span>
          )
        }
        <hr />
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
